* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: 0;
}

body {
    background-color: #fcd8c7;
}

.botoes-principais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoes-principais button {
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}


.quadrado-fundo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: rgb(243, 193, 136);
    border: 3px solid black;
    box-shadow: 0px 2px 10px 2px;
    border-radius: 8px;
    text-align: center;
    overflow-y: auto;
}

.formulario button {
    position: absolute;
    left: 94%;
    top: 95%;
    border: 2px solid black;
    width: 100px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

input {
    border: 2px solid black;
    margin-top: 3px;
    cursor: pointer;
    width: 200px;
    transition: 0.15s;
    text-align: center;
}

input:focus {
    cursor: text;
    scale: 1.2;
    text-align: left;
}

input[type=submit],
input[type=submit]:focus {
    margin-bottom: 5px;
    cursor: pointer;
    width: 100px;
    scale: 1.0;
    text-align: center;
}

.consultar h1 {
    text-align: center;
    font-size: 24px;
}

.consultar table {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid black;
    background-color: #ffffff;
    overflow-y: auto;
}

.consultar th,
.consultar td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #cecece;
}

.btn-editar,
.btn-deletar {
    display: inline-block;
    padding: 8px 12px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 14px;
}

.btn-editar {
    background-color: #4CAF50;
    color: white;
}

.btn-editar:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.btn-deletar {
    background-color: #f44336;
    color: white;
}

.btn-deletar:hover {
    background-color: #da190b;
    transform: scale(1.05);
}

.botao-inclusao button {
    position: fixed;
    width: 120px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 8px;
    left: 88.9%;
    top: 2%;
}